.lkt-window {
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: baseline;
    justify-content: center;
    overflow-y: auto;
    grid-template-columns: 1fr;
    z-index: 500;
}

.lkt-window__back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--window-back-background);
    transition: all 0.2s linear;
}

.lkt-window .lkt-window__inner {
    max-width: 50%;
    max-height: calc(100% - 60px);
    background: var(--window-background);
    z-index: 1;
    overflow-y: auto;
    border-radius: 4.5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    transition: opacity 0.2s linear 0s, visibility 0s linear 0s;
    margin: 30px auto 0;
}

.lkt-window .is-md > .lkt-window__inner {
    max-width: 500px;
    width: 95%;
}

.lkt-window .is-lg > .lkt-window__inner {
    max-width: 800px;
    width: 95%;
}

.lkt-window .is-xl > .lkt-window__inner {
    max-width: 1140px;
    width: 95%;
}

.lkt-window-header {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    z-index: 2;
    border-top-left-radius: 4.5px;
    border-top-right-radius: 4.5px;
    height: var(--window-header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lkt-window-header [data-button] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
    height: var(--window-header-height);
    width: var(--window-header-height);
    position: relative;
}

.lkt-window-header [data-button]:hover {
    background: rgba(0, 0, 0, .1);
}


.lkt-window-header [data-button="button-close"]:before {
    content: 'x';
    display: block;
    font-family: sans-serif;
}

.lkt-window-header [data-button="button-save"]:before {
    content: '\1F4BE';
}

.lkt-window-header__title-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "pre title";
    grid-auto-columns: min-content;
}

.lkt-window-header__title,
.lkt-window-header__pre-title {
    width: 100%;
    max-width: 100%;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lkt-window-header__title {
    padding: 0 15px;
    font-size: 19px;
    grid-area: title;
}

.lkt-window-header__pre-title {
    padding: 0 15px 4px;
    font-size: 14px;
    background: #ccc;
    grid-area: pre;
}

.lkt-window-header__pre-title + .lkt-window-header__title {
    font-size: 17px;
    margin-top: -3px;
}

.lkt-window footer .footer__footer {
    border-top: 1px solid #ccc;
    padding: 15px;
}


.lkt-window footer .footer__button-tray {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
}

.lkt-window .footer__button-tray {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}