<template>
  <lkt-window
    class="type-alert"
    v-bind:title="title"
    v-bind:pre-title="preTitle"
    v-bind:palette="palette"
    v-bind:size="size"
    v-bind:loading="loading"
    v-bind:windowIndex="windowIndex"
  >
    <template v-slot:tab-alert>
      <slot></slot>
    </template>

    <template v-slot:footer-button-confirm>
      <lkt-button v-on:click="onClose" palette="success">Confirm</lkt-button>
    </template>
  </lkt-window>
</template>

<script lang="ts">
  import WindowHeader from '../components/WindowHeader.vue';
  import WindowFooter from '../components/WindowFooter.vue';
  import { defineComponent } from 'vue';
  import LktWindow from './LktWindow.vue';
  import { closeWindow } from '../functions/functions';

  export default defineComponent({
    name: 'LktAlertWindow',
    components: { LktWindow, WindowFooter, WindowHeader },
    props: {
      palette: { type: String, default: '' },
      size: { type: String, default: '' },
      preTitle: { type: String, default: '' },
      title: { type: String, default: '' },
      loading: { type: Boolean, default: false },
      showClose: { type: Boolean, default: true },
      windowIndex: {
        type: Object,
        default: () => {
          return { alias: '', key: '_' };
        },
      },
    },
    methods: {
      onClose() {
        closeWindow(this.windowIndex.alias, this.windowIndex.key);
      },
    },
  });
</script>
