<template>
  <lkt-window
    class="type-choice"
    v-bind:title="title"
    v-bind:pre-title="preTitle"
    v-bind:palette="palette"
    v-bind:size="size"
    v-bind:loading="loading"
    v-bind:windowIndex="windowIndex"
  >
    <template v-slot:tab-choice>
      <ul>
        <li v-for="option in options" v-on:click="onChoice(option)">
          <template v-if="hasOptionSlot">
            <slot name="option" v-bind:option="option"></slot>
          </template>
          <template v-else>
            {{ option.label }}
          </template>
        </li>
      </ul>
    </template>

    <template v-slot:footer-button-cancel>
      <lkt-button v-on:click="onClose" palette="danger">Cancel</lkt-button>
    </template>
  </lkt-window>
</template>

<script lang="ts">
  import WindowHeader from '../components/WindowHeader.vue';
  import WindowFooter from '../components/WindowFooter.vue';
  import { defineComponent, PropType } from 'vue';
  import LktWindow from './LktWindow.vue';
  import { ChoiceOption } from '../types/ChoiceOption';
  import { slotProvided } from 'lkt-vue-tools';
  import { closeWindow } from '../functions/functions';

  export default defineComponent({
    name: 'LktChoiceWindow',
    emits: ['choice'],
    components: { LktWindow, WindowFooter, WindowHeader },
    props: {
      palette: { type: String, default: '' },
      size: { type: String, default: '' },
      preTitle: { type: String, default: '' },
      title: { type: String, default: '' },
      loading: { type: Boolean, default: false },
      showClose: { type: Boolean, default: true },
      windowIndex: {
        type: Object,
        default: () => {
          return { alias: '', key: '_' };
        },
      },
      options: {
        type: Array as PropType<ChoiceOption[]>,
        default: (): ChoiceOption[] => [],
      },
    },
    computed: {
      hasOptionSlot() {
        return slotProvided(this, 'option');
      },
    },
    methods: {
      onClose() {
        closeWindow(this.windowIndex.alias, this.windowIndex.key);
      },
      onChoice(opt: ChoiceOption) {
        this.$emit('choice', opt);
        this.onClose();
      },
    },
  });
</script>
