<template>
    <lkt-window
        class="type-crud"
        v-bind:title="title"
        v-bind:pre-title="preTitle"
        v-bind:palette="palette"
        v-bind:size="size"
        v-bind:loading="loadingStatus.value"
        v-bind:windowIndex="windowIndex"
        v-bind:tabs="tabs"
    >
        <template v-if="!hasCustomTabs" v-slot:tab-crud-read>
            <slot name="read" v-bind:data="data"></slot>
        </template>
        <template v-for="(_, key) in customTabs" v-slot:[getTabSlotKey(key)] v-bind:key="key">
            <slot v-if="!loadingStatus.value && hasData" v-bind:name="getTabSlotKey(key)" v-bind:data="data"></slot>
        </template>

        <template v-slot:footer-button-create>
            <lkt-button v-show="!loadingStatus.value && createVisible" v-on:click="onCreate" palette="success"
                        v-bind:disabled="hasCreateDisabled">Create
            </lkt-button>
        </template>

        <template v-slot:footer-button-update>
            <lkt-button v-show="!loadingStatus.value && updateVisible" v-on:click="onUpdate" palette="success"
                        v-bind:disabled="hasUpdateDisabled">Update
            </lkt-button>
        </template>

        <template v-slot:footer-button-delete>
            <lkt-button v-show="!loadingStatus.value && deleteVisible" v-on:click="onDelete" palette="danger"
                        v-bind:disabled="hasDeleteDisabled">Delete
            </lkt-button>
        </template>
    </lkt-window>
</template>

<script lang="ts">
import WindowHeader from "../components/WindowHeader.vue";
import WindowFooter from "../components/WindowFooter.vue";
import {defineComponent, PropType} from "vue";
import LktWindow from "./LktWindow.vue";
import {ResourceCaller, ResourceCallerConfig} from "lkt-http";
import {LktObject} from "lkt-ts-interfaces";
import {CustomTabsMixin} from "../mixins/CustomTabsMixin";
import {WindowCallerConfig} from "../types/WindowCallerConfig";
import {DataState} from "lkt-data-state";
import {WindowCaller} from "../classes/WindowCaller";
import {LoadingValue} from "../value-objects/LoadingValue";

export default defineComponent({
    name: "LktCrudWindow",
    emits: ['create', 'create-fail', 'update', 'update-fail', 'delete', 'delete-fail', 'read', 'read-fail', 'read-invalid', 'loading', 'loaded'],
    mixins: [CustomTabsMixin],
    components: {LktWindow, WindowFooter, WindowHeader},
    props: {
        palette: {type: String, default: ''},
        size: {type: String, default: ''},
        preTitle: {type: String, default: ''},
        title: {type: String, default: ''},
        loading: {type: Boolean, default: false},
        showClose: {type: Boolean, default: true},
        windowIndex: {
            type: Object, default: () => {
                return {alias: '', key: '_'}
            }
        },
        tabs: {
            type: Object, default: () => {
                return {}
            }
        },
        createInitialData: {type: Object as PropType<LktObject>, default: () => {}},

        // createResponseIsLoadData: {type: Boolean, default: false},

        beforeCreateConfirm: {type: Object as PropType<WindowCallerConfig>, default: null},
        beforeUpdateConfirm: {type: Object as PropType<WindowCallerConfig>, default: null},
        beforeDeleteConfirm: {type: Object as PropType<WindowCallerConfig>, default: null},

        createVisible: {type: Boolean, default: false},
        updateVisible: {type: Boolean, default: false},
        deleteVisible: {type: Boolean, default: false},

        createDisabled: {type: Boolean, default: false},
        updateDisabled: {type: Boolean, default: false},
        deleteDisabled: {type: Boolean, default: false},

        create: {
            type: Object as PropType<ResourceCallerConfig>, default: () => {
                return {};
            }
        },
        read: {
            type: Object as PropType<ResourceCallerConfig>, default: () => {
                return {};
            }
        },
        update: {
            type: Object as PropType<ResourceCallerConfig>, default: () => {
                return {};
            }
        },
        drop: {
            type: Object as PropType<ResourceCallerConfig>, default: () => {
                return {};
            }
        },
        validateCanRead: {type: Function, default: (data: LktObject) => true},
        validateReadData: {type: Function, default: (data: LktObject) => true}
    },
    data() {
        const data = {};

        return {
            style: '',
            activeTab: '',

            loadingStatus: new LoadingValue(this.loading),

            data,

            createCaller: new ResourceCaller(this.create),
            readCaller: new ResourceCaller(this.read),
            updateCaller: new ResourceCaller(this.update),
            deleteCaller: new ResourceCaller(this.drop),

            dataState: new DataState(data),

            confirmCreate: new WindowCaller(this.beforeCreateConfirm),
            confirmUpdate: new WindowCaller(this.beforeUpdateConfirm),
            confirmDelete: new WindowCaller(this.beforeDeleteConfirm),
        }
    },
    computed: {
        hasData() {
            if (!this.data) {
                return false;
            }
            return Object.keys(this.data).length > 0;
        },
        hasCreateDisabled() {
            return !this.dataState.isChanged;
        },
        hasUpdateDisabled() {
            return !this.dataState.isChanged;
        },
        hasDeleteDisabled() {
            return this.dataState.isChanged;
        }
    },
    watch: {
        data: {
            handler(v: LktObject) {
                this.dataState.store(v);
            }, deep: true
        },
        loading: {
            handler(v: boolean) {
                if (v) {
                    this.loadingStatus.start();
                } else {
                    this.loadingStatus.finish();
                }
            }, deep: true
        },
        create: {
            handler(v: ResourceCallerConfig) {
                this.createCaller = new ResourceCaller(this.create);
            }, deep: true
        },
        read: {
            handler(v: ResourceCallerConfig) {
                this.readCaller = new ResourceCaller(this.read);
            }, deep: true
        },
        update: {
            handler(v: ResourceCallerConfig) {
                this.updateCaller = new ResourceCaller(this.update);
            }, deep: true
        },
        drop: {
            handler(v: ResourceCallerConfig) {
                this.deleteCaller = new ResourceCaller(this.drop);
            }, deep: true
        },
        readCaller: {
            handler(v: ResourceCallerConfig) {
                this.load();
            }, deep: true
        },
        createVisible() {
            this.$forceUpdate();
        },
        updateVisible() {
            this.$forceUpdate();
        },
        deleteVisible() {
            this.$forceUpdate();
        }
    },
    methods: {
        callAPI(resourceCaller: ResourceCaller, confirmCaller: WindowCaller, confirmOptions: WindowCallerConfig) {
            if (confirmCaller.isCallable()) {
                const args = {...confirmOptions};
                args.props = {
                    ...args.props, onConfirm: () => {
                        this.loadingStatus.start();
                        this.$nextTick(() => {
                            resourceCaller.call().then((r: any) => {
                                this.loadingStatus.finish();
                                this.$emit('create', r);
                            }).catch(() => {
                                this.loadingStatus.finish();
                                this.$emit('create-fail');
                            });
                        })
                    }
                };
                this.$root.openWindowConfig(args);
                return;
            }
            this.loadingStatus.start();
            this.$emit('loading');
            this.$nextTick(() => {
                resourceCaller.call().then((r: any) => {
                    this.loadingStatus.finish();
                    this.$emit('create', r);
                    this.$emit('loaded');
                }).catch(() => {
                    this.loadingStatus.finish();
                    this.$emit('create-fail');
                    this.$emit('loaded');
                });
            })
        },
        onCreate() {
            this.callAPI(this.createCaller, this.confirmCreate, this.beforeCreateConfirm);
        },
        onUpdate() {
            this.updateCaller.setParams(this.data);
            this.callAPI(this.updateCaller, this.confirmUpdate, this.beforeUpdateConfirm);
        },
        onDelete() {
            this.updateCaller.setParams(this.data);
            this.callAPI(this.deleteCaller, this.confirmDelete, this.beforeDeleteConfirm);
        },
        load() {
            let canRead = true;
            if (typeof this.validateCanRead === 'function') {
                canRead = this.validateCanRead(this.readCaller) === true;
            }

            if (!canRead) {
                this.data = {...this.createInitialData};
                this.$emit('read-invalid');
                return;
            }

            if (!this.readCaller && !this.readCaller.isCallable()) {
                this.data = {...this.createInitialData};
                this.$emit('read-invalid');
                return;
            }
            this.loadingStatus.start();
            this.$emit('loading');
            this.$nextTick(() => {
                this.readCaller.call().then((r: LktObject) => {

                    let success = true;
                    if (typeof this.validateReadData === 'function') {
                        try {
                            success = this.validateReadData(r) === true;
                        } catch (e) {
                            console.error('An error occurred while validating response'!);
                        }
                    }

                    if (success) {
                        this.data = r;
                        this.dataState = new DataState(r);
                        this.loadingStatus.finish();
                        this.$emit('read', this.data);
                        this.$emit('loaded');
                    } else {
                        this.$emit('read-fail');
                        this.$emit('loaded');
                    }
                }).catch(() => {
                    this.$emit('read-fail');
                    this.$emit('loaded');
                });
            })
        }
    },
    mounted() {
        this.load();
    }
})
</script>