<template>
  <section v-bind:class="classes">
    <div class="lkt-window__back" v-on:click.prevent.stop="onVeilClick"></div>
    <div class="lkt-window__inner" ref="inner">
      <window-header
        v-bind:pre-title="preTitle"
        v-bind:title="title"
        v-bind:show-close="showClose"
        v-on:close="onClose"
      >
        <template
          v-for="(_, key) in customButtons"
          v-slot:[getButtonSlotKey(key)]
        >
          <slot v-bind:name="getButtonSlotKey(key)"></slot>
        </template>
      </window-header>

      <section v-show="loading" data-role="loader">
        <slot name="loader"></slot>
      </section>
      <section v-show="!loading" data-role="content">
        <lkt-tabs
          ref="tabs"
          v-model="activeTab"
          v-if="!!customTabs"
          v-bind:titles="tabs"
        >
          <template v-for="(_, key) in customTabs" v-slot:[getTabSlotKey(key)]>
            <slot v-bind:name="getTabSlotKey(key)"></slot>
          </template>
        </lkt-tabs>
      </section>

      <footer v-if="customFooterButtons || !!$slots['footer']">
        <div v-if="!!$slots['footer']" class="footer__footer">
          <slot name="footer"></slot>
        </div>

        <div class="footer__button-tray" v-if="hasCustomFooterButtons">
          <template v-for="(_, key) in customFooterButtons" v-bind:key="key">
            <slot
              v-bind:name="'footer-button-' + key"
              v-bind:data-button="key"
            ></slot>
          </template>
        </div>
      </footer>
    </div>
  </section>
</template>

<script lang="ts">
  import WindowHeader from '../components/WindowHeader.vue';
  import { CustomButtonsMixin } from '../mixins/CustomButtonsMixin';
  import { CustomTabsMixin } from '../mixins/CustomTabsMixin';
  import { defineComponent } from 'vue';
  import { CustomFooterButtonsMixin } from '../mixins/CustomFooterButtonsMixin';
  import { closeWindow } from '../functions/functions';

  export default defineComponent({
    name: 'LktWindow',
    components: { WindowHeader },
    mixins: [CustomButtonsMixin, CustomFooterButtonsMixin, CustomTabsMixin],
    props: {
      palette: { type: String, default: '' },
      size: { type: String, default: '' },
      preTitle: { type: String, default: '' },
      title: { type: String, default: '' },
      loading: { type: Boolean, default: false },
      showClose: { type: Boolean, default: true },
      disabledVeilClick: { type: Boolean, default: false },
      windowIndex: {
        type: Object,
        default: () => {
          return { alias: '', key: '_' };
        },
      },
      tabs: {
        type: Object,
        default: () => {
          return {};
        },
      },
    },
    data() {
      return {
        activeTab: '',
      };
    },
    computed: {
      classes() {
        const r = ['lkt-window'];

        if (this.size) {
          r.push(`is-${this.size}`);
        }

        return r.join(' ');
      },
    },
    watch: {
      $slots: {
        handler(v) {
          console.log('Updated slots', v);
        },
        deep: true,
      },
    },
    methods: {
      onClose() {
        closeWindow(this.windowIndex.alias, this.windowIndex.key);
      },
      onVeilClick() {
        if (this.disabledVeilClick) {
          return;
        }
        this.onClose();
      },
    },
    mounted() {
      if (!this.activeTab && this.customTabs) {
        this.activeTab = Object.keys(this.customTabs)[0];
      }
    },
  });
</script>
