<script lang="ts">
  import { computed, getCurrentInstance, ref } from 'vue';
  import { RenderWindowInfo } from '../types/RenderWindowInfo';
  import { Settings } from '../settings/Settings';

  export default {
    name: 'LktWindowCanvas',
    inheritAttrs: false,
    customOptions: {},
    methods: {},
    setup() {
      const refresher = ref(0);
      const { ctx: _this }: any = getCurrentInstance();

      const refresh = () => {
        refresher.value = refresher.value + 1;
        setTimeout(() => {
          _this.$forceUpdate();
        }, 1);
      };

      const getStyle = (config: RenderWindowInfo) => {
        const r = [];
        if (config.zIndex) {
          r.push(`z-index: ${config.zIndex}`);
        }
        return r.join(';');
      };

      const components = computed((): RenderWindowInfo[] => {
        refresher.value;
        // @ts-ignore
        return Object.values(Settings.controller.components);
      });

      return {
        refresher,
        refresh,
        components,
        getStyle,
      };
    },
  };
</script>

<template>
  <section class="lkt-window-canvas">
    <component
      v-for="renderInfo in components"
      v-bind:key="renderInfo.index"
      v-bind:is="renderInfo.component"
      v-bind="renderInfo.props"
      v-bind:style="getStyle(renderInfo)"
    ></component>
  </section>
</template>
