<template>
    <header class="lkt-window-header">
        <div class="lkt-window-header__title-container">
            <div class="lkt-window-header__pre-title" v-if="preTitle">{{ preTitle }}</div>
            <div class="lkt-window-header__title" v-if="title">{{ title }}</div>
        </div>
        <div data-role="button-tray" :key="observedButtons">
            <template v-for="(_, key) in customButtons">
                <div v-bind:data-button="key">
                    <slot v-bind:name="key"></slot>
                </div>
            </template>
            <button data-button="button-close" v-on:click.prevent.stop="onClose" v-if="showClose"
                    :disabled="disabledButtons.indexOf('button-close') > -1"></button>
        </div>
    </header>
</template>

<script lang="ts">
import {CustomButtonsMixin} from "../mixins/CustomButtonsMixin";

export default {
    name: "WindowHeader",
    mixins: [CustomButtonsMixin],
    props: {
        preTitle: {type: String, default: ''},
        title: {type: String, default: ''},
    },
    methods: {
        onClose(e: Event) {
            this.$emit('close', e);
        }
    }
}
</script>