<template>
    <footer v-bind:key="observedFooterButtons" v-if="customFooterButtons || !!$slots['footer']">
        <div v-if="!!$slots['footer']" class="footer__footer">
            <slot name="footer"></slot>
        </div>

        <div class="footer__button-tray" v-if="Object.keys(customFooterButtons).length > 0">
            <template v-for="(_, key) in customFooterButtons" v-bind:key="key">
                <div v-bind:data-button="key">
                    <slot v-bind:name="'footer-button-' + key"></slot>
                </div>
            </template>
        </div>
    </footer>
</template>

<script>
import {CustomFooterButtonsMixin} from "../mixins/CustomFooterButtonsMixin";

export default {
    name: "WindowFooter",
    mixins: [CustomFooterButtonsMixin]
}
</script>